extends layout
block content
    .classDiv
        .container-fluid
            .row
                .col-4
                    .card
                        .card-body
                        h5.card-title Beginner Archery Class
                        p.card-text
                            | Are you new to archery and looking for somewhere to start? 
                            br
                            | Consider joining the Beginner Archery Class to get started!
                        a.btn.btn-primary(href='#') View Class Times
                .col-4
                    .card
                        .card-body
                        h5.card-title Advanced Archery
                        p.card-text
                            | An advanced class designed for archery aficianados to meet peers, have competions and hone their aim! 
                            br
                            | Sign up below
                        a.btn.btn-primary(href='#') View Class Times
                .col-4
                    .card
                        .card-body
                        h5.card-title Fun Games
                        p.card-text
                            | Interesting in taking aim at something more fun than a straw target? Try our fun games class, where targets include apples, baloon animals and more!
                            br
                            |  Sign up now!
                        a.btn.btn-primary(href='#') View Class Times
