extends layout

block content
    form
    .form-row
        
        input#inputFname.form-control(type='text' placeholder='First Name')
        input#inputLname.form-control(type='text' placeholder='Last Name')
        input#inputUname.form-control(type='text' placeholder='Username')
        small#emailHelp.form-text.text-muted Minimum 8 Characters - Must include 1 Symbol or Number
        input#exampleInputPassword1.form-control(type='password' placeholder='Password')
        input#exampleInputPassword2.form-control(type='password' placeholder='Confirm Password')
        input#inputAddress.form-control(type='text' placeholder='1234 Main St')
        input#inputAddress2.form-control(type='text' placeholder='Apartment, studio, or floor')
    .form-row
        input#inputCity.form-control(type='text' placeholder='City/Town')
    .form-group
    button.btn.btn-primary(type='submit') Register
