extends layout

block content
    form#archerForm(action="/api/archers" method="POST")
        .form-row
            small#detilsHelp.form-text.text-muted= pageInfo.text1
            input#inputFname.form-control(name="firstName" type="text" placeholder="First Name")
            input#inputLname.form-control(name="lastName" type="text" placeholder="Last Name")
            input#inputEMail.form-control(name="email" type="text" placeholder="Email")
            input#inputUname.form-control(name="username" type="text" placeholder="Username")
            small#emailHelp.form-text.text-muted= pageInfo.text2
            input#exampleInputPassword1.form-control(name="password" type="password" placeholder="Password")
            input#exampleInputPassword2.form-control(name="confirmPassword" type="password" placeholder="Confirm Password")
            small#addressHelp.form-text.text-muted= pageInfo.text3
            input#inputAddress.form-control(name="street" type="text" placeholder="Street")
            input#inputAddress2.form-control(name="town" type="text" placeholder="Town")
        .form-row
            input#inputCounty.form-control(name ="county" type='text' placeholder='County')
        .form-group
        button.btn.btn-primary(type='submit')= pageInfo.button


    script.
        document.getElementById('archerForm').addEventListener('submit', function (e) {
            e.preventDefault();

            const formData = new FormData(this);
            const payload = Object.fromEntries(formData.entries());

            fetch(this.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload),
            })
            .then(response => {
                if (response.ok) {
                    alert('Archer Ready');
                    this.reset();
                } else {
                    response.json().then(err => {
                        alert('You missed your target: ' + err.message);
                    });
                }
            });
         });